header {
  height: 80px;
  background-color: seagreen;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin-bottom: 30px;
  box-shadow: 0px 7px 10px black;
}

header h1 {
  text-shadow: 2px 2px black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  position: relative;
  margin-top: 30px;
}

.cards {
  margin: 0 500px;
  color: black;
  position: absolute;
}

.box {
  position: absolute;
  background-color: green;
  color: white;
  box-shadow: 0px 0px 10px grey;
  width: 300px;
  padding: 20px;
  margin: 0 20px;
  height: 200px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.message {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 600px 800px;
  font-size: 30px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 30px;
  width: 300px;
  background-color: green;
  color: white;
  text-shadow: 2px 2px black;
}

.btns {
  margin: auto;
  justify-content: center;
  align-self: center;
  display: flex;
  width: 600px;
  height: 40px;
}

button {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  outline: none;
  width: auto;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

.box h1,
h2 {
  margin: 5px 5px;
}
